:root {
  --height-nav: 80px;
  --height-footer: 54px;
}
#body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  overflow: hidden;
}
#navbar-top {
  height: var(--height-nav) !important;
}
#footer-bottom {
  height: var(--height-footer) !important;
}
#content-box {
  height: calc(100dvh - var(--height-nav) - var(--height-footer));
}
.height-same-outer {
  height: inherit;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
