// styles/custom.scss

$primary: #f67416;
$danger: #f8472f;
$secondary: #3c3c3c;
$light: #f6f6f6;
$dark: #111111;
$success: #189b58;
$danger: #f8472f;
$btn-link-disabled-color: #fff;
$bs-btn-font-family: "Bungee Tint", cursive;
// $link-color: #fff;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "light": $light,
  "secondary": $secondary,
  "dark": $dark,
  "success": $success,
);

// Import Bootstrap functions first
@import "~bootstrap/scss/functions";

// Then import Bootstrap variables so you can override them
@import "~bootstrap/scss/variables";

// Finally, import the rest of Bootstrap
@import "~bootstrap/scss/bootstrap";

// // Button custom
// @mixin button-theme($color) {
//   background-color: $color;
//   color: white;
//   border: none;
//   box-shadow: 0px 10px 10px -5px rgba($color, 0.2),
//     0px 20px 30px -10px rgba($color, 0.3);

//   &:hover,
//   &:active {
//     color: white;
//   }

//   &:disabled,
//   &.disabled {
//     background-color: lighten($color, 30%);
//     color: #ffffff;
//     cursor: not-allowed;
//     opacity: 0.65;
//     box-shadow: none;
//   }
// }
// @mixin button-outline-theme($color) {
//   background-color: transparent;
//   color: $color;
//   border: 1px solid $color;
//   box-shadow: 0px 10px 10px -5px rgba($color, 0.2),
//     0px 20px 30px -10px rgba($color, 0.3);

//   &:hover,
//   &:active {
//     color: white;
//     background-color: $color;
//   }

//   &:disabled,
//   &.disabled {
//     background-color: lighten($color, 30%);
//     color: #ffffff;
//     cursor: not-allowed;
//     opacity: 0.65;
//     box-shadow: none;
//   }
// }

// $colors: (
//   "danger": $danger,
//   "success": $success,
//   "primary": $primary,
//   "dark": $dark,
//   "secondary": $secondary,
// );
// @each $name, $color in $colors {
//   .btn-#{$name} {
//     @include button-theme($color);
//   }
//   .btn-outline-#{$name} {
//     @include button-outline-theme($color);
//   }
// }
